body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

/*tabulas formatējums*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #737CA1;
    color: #fff;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

th, td {
    border-bottom: 1px solid #ddd;
}

a.view-details {
    color: #7a869a; 
    text-decoration: none; 
}

a.view-details:hover {
    color: #5a667a; 
}

/*atpakaļ iešanas poga*/
.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
}

.back-button a {
    color: #737CA1;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.back-button a:hover {
    color: #305080;
    text-decoration: underline;
}

/*meklēšanas forma*/
.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-form select, 
.search-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    background-color: #4a7ebb;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.search-form button:hover {
    background-color: #305080;
}